:root {
  --main-color: #2196f3;
  --secondary-color: white;
  --third-color: #757575;
  --fourth-color: #ffffff;
  --fifth-color: #212121;
  --sixth-color: #f5f4fa;
  --seventh-color: #2f303a;
  --eighth-color: #e5e5e5;
  --nineth-color: #000000;
  --tenth-color: black;
}
* {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 15px;
  width: 100%;
  width: 1200px;
  margin: 0 auto;
}
.team_title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.body-class {
  font-family: "Roboto", sans-serif;
  color: var(--fifth-color);
  letter-spacing: 0.03em;
}
.section-gray {
  background: var(--seventh-color);
  background-size: cover;
  background: var(--seventh-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/BackgroundIndex.jpg);
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}
.contacts-list__icon {
  fill: var(--third-color);
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__item:hover svg {
  fill: var(--main-color);
}

.contacts-list__item:focus svg {
  fill: var(--main-color);
}

.grey-tittle {
  font-size: 44px;
  color: var(--secondary-color);
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
}
.nav-list__portfolio {
  color: var(--fifth-color);
  margin-right: 46px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__contacts {
  color: var(--fifth-color);
}

.contact-list {
  display: flex;
  text-align: center;
  gap: 30px;
}

.lorem {
  display: flex;
  line-height: 1.14;
  justify-content: center;
  gap: 30px;
}
.list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.lorem__text {
  margin-top: 10px;
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--third-color);
}

.lorem__list--title {
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.our-job__headline {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.our-job {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  display: inline;
  margin: 0 auto;
}
.lorem__list {
  display: flex;
  gap: 30px;
}
.lorem__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  height: 120px;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
.team__text--name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 30px;
}

.team__text--position {
  font-size: 16px;
  line-height: 1.18;
  color: var(--third-color);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.colorgrey {
  color: var(--third-color);
}

.header__nav {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.17;
  display: flex;
  align-items: baseline;
}
.navmenu-portfolio {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.17;
  display: flex;
  align-items: baseline;
}
.navmenu-index > .menu {
  color: var(--tenth-color);
}

.navmenu-portfolio > .menu {
  color: var(--tenth-color);
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.footer-logo {
  color: var(--secondary-color);
}
.footer__inner {
  padding-bottom: 20px;
  display: inline-block;
}

.header__studioname {
  color: var(--fifth-color);
  margin: 0 auto;
  color: var(--main-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}

.joinus {
  margin-left: 70px;
  display: inline-block;
}

.joinus__list {
  display: flex;
}
.joinus__text {
  color: var(--fourth-color);
  font-weight: 700px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.joinus__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
.joinus__link {
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
}
.joinus-list {
  text-align: center;
}
.joinus__link:hover {
  background: var(--main-color);
  color: #fff;
  transition: 250ms;
}

.joinus__item svg,
.joinus__item:focus svg {
  fill: var(--fourth-color);
}

.joinus__item {
  fill: var(--fourth-color);
  transition: color 1500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact {
  color: var(--third-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover {
  color: var(--main-color);
}

.imagesdescription {
  color: var(--fifth-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.signdescription {
  color: var(--third-color);

  font-size: 16px;
  line-height: 1.8;
}

.footer__studioname {
  color: var(--main-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header__studioname--black {
  color: var(--nineth-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__studioname--white {
  color: var(--fourth-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.highlight {
  color: var(--nineth-color);
}
.highlightwhite {
  color: var(--fourth-color);
}

.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
}

.portoflio {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
}

.elementblue:hover,
.elementblue:focus,
.elementblue:active {
  color: var(--main-color);
}

.elementblue {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.grey-button {
  background-color: var(--main-color);
  font-weight: 700;
  color: white;
  cursor: pointer;
  padding: 10px 42px 10px 41px;
  border-radius: 4px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  display: block;
  text-decoration: none;
}

.footer__contact {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 9px;
  color: var(--fourth-color);

  font-size: 14px;
  line-height: 1.71;
}
address {
  font-style: normal;
}

.footer__list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 9px;
}

.nonetextstyle {
  font-style: inherit;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  margin-bottom: 32px;
}

.header-wrapper-portfolio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  margin-bottom: 32px;
}
.header {
  padding: 24 0;
  border-bottom: 1px solid #ececec;
}

.lorem-margin:last-child {
  margin-right: 0;
}
.align-member {
  text-align: center;
}
.team__headline {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  gap: 30px;
}

.team__item {
  background-color: var(--fourth-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}

.our-team {
  background: var(--sixth-color);
}

.our-job__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.team__picture {
  border-radius: 0px 0px 4px 4px;
}
.header__studioname--black:hover {
  color: var(--main-color);
}

.footer__studioname--white:hover {
  color: var(--main-color);
}

.footer {
  background: var(--seventh-color);
  padding: 60px 0px;
}

.containter {
  box-sizing: border-box;
  padding: 0 15px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.grey {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.team__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
}

.team__link:hover {
  background-color: var(--main-color);
  color: #fff;
  transition: 250ms;
}

.team__icon:hover svg,
.team__icon:focus svg {
  fill: var(--fourth-color);
}

.team__icon {
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__headline {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid currentColor;
  color: #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link svg {
  fill: currentColor;
}
.clients__link:hover {
  color: var(--main-color);
}

.picture-job {
  display: inline;
}

.our-job__pic:last-child {
  margin-right: 0;
}
.images-list__border {
  border: 1px solid #eeeeee;
  border-top: none;
}

.buttons-margin {
  margin-right: 8px;
  border-radius: 4px;
  border-style: none;
}
.buttons-margin:last-child {
  margin-right: 0;
}
.images {
  justify-content: space-between;
}
/* Portfolio-css */

.portfolio-top {
  background-color: #ffffff;
}

.agency-two {
  color: var(--fifth-color);
  margin-right: 46px;
}

.portfolio-two {
  color: var(--fifth-color);
  margin-right: 46px;
}

.contacts-two {
  color: var(--fifth-color);
}

.mail-adress-two {
  color: var(--third-color);
  margin-right: 50px;
}
.contacts-list__link {
  color: var(--third-color);
  font-size: 14px;
}

/* .telephone {
  color: var(--third-color);
  font-size: 14px;
} */

.telephone-two {
  color: var(--third-color);
}

.buttons-list {
  justify-content: center;
  display: flex;
  gap: 8px;
  padding-bottom: 50px;
}

.buttons-list__item {
  background-color: var(--eighth-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding: 6px 22px 6px 22px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--fifth-color);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-list__item:hover {
  color: var(--fourth-color);
  background-color: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.images-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  cursor: pointer;
}
.images-list__item {
  flex-basis: calc((100% - 60px) / 3);
  background-color: var(--fourth-color);
  box-sizing: border-box;
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.images-list__name {
  text-align: start;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: var(--fifth-color);
  padding-left: 24px;
}

.images-list__range {
  text-align: start;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--third-color);
  padding-left: 24px;
}

/* MODAL JS */

.modal-side {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.modal-window {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  right: 50%;
  top: 50%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1000;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.71, 1.51, 0.4, 2);
}

.modal-button-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50px;
}
.modal-tittle {
  font-weight: 700;
  font-size: 20px;
  line-height: 23.44px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
  margin-top: 40px;
}

.modal-icons {
  position: absolute;
  outline: none;
}
.modal-icons:hover,
.modal-icons:focus {
  border-color: var(--main-color);
  outline: var(--main-color);
  fill: var(--main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-holder {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 30px;
  cursor: pointer;
  transition: border-color 2s, outline 2s;
  font-size: 12px;
}
.modal-holder:hover + .modal-svg,
.modal-holder:focus + .modal-svg {
  fill: var(--main-color);
}
.textarea-window {
  width: 448px;
  height: 120px;
  resize: none;
  padding: 15px 16px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}
.textarea-window:hover,
.textarea-window:focus {
  border-color: var(--main-color);
  outline: var(--main-color);
}

.textarea-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
}

.check-button-submit {
  background-color: var(--main-color);
  font-size: 16px;
  color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  padding: 10px 76px 10px 76px;
  cursor: pointer;
  font-family: inherit;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 40px;
}

.modal-labels {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modal-labels:has(.modal-holder:focus) .label-position {
  fill: var(--main-color);
}
.modal-svg {
  position: absolute;
  top: 50%;
  left: 55px;
}

.modal-holder:focus,
.textarea-window:focus {
  outline-color: var(--main-color);
}
.modal-labels:hover .modal-holder {
  border-color: var(--main-color);
  outline-color: var(--main-color);
}
.modal-labels:hover .label-position {
  fill: var(--main-color);
}
.modal-labels:has(.modal-holder:focus) .label-position {
  fill: var(--main-color);
}
.modal-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 4px;
  margin-left: 40px;
  margin-top: 10px;
  display: block;
  text-align: start;
  letter-spacing: 0.01em;
  color: #757575;
}
.textarea-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 4px;
  margin-left: 40px;
  display: block;
  text-align: start;
  letter-spacing: 0.01em;
  color: #757575;
  margin-top: 10px;
}

/* Check */

.check-label {
  position: relative;
  display: block;
  margin-bottom: 0.5em;
  padding-left: 2.2em;
  margin-top: 20px;
}

.check-input {
  position: absolute;
  /* clip: rect(0 0 0 0); */
  width: 1px;
  height: 1px;
  margin: -1px;
}

.check-box {
  position: absolute;
  margin-top: 0.2em;
  margin-left: -1em;
  width: 0.6em;
  height: 0.6em;
  overflow: hidden;
  border-radius: 0.05em;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 0 0.1em #4a90e2;
}

.check__input:checked + .check__box {
  background-color: #4a90e2;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
}

.check__input:focus + .check__box {
  box-shadow: 0 0 0 0.1em #4a90e2, 0 0 0 0.2em #7ed321;
}

.check__input:disabled + .check__box {
  box-shadow: 0 0 0 0.1em #9b9b9b;
}

.check__input:checked:disabled + .check__box {
  background-color: #9b9b9b;
}
.check-text {
  color: var(--main-color);
  cursor: pointer;
}
.check-text:hover,
.check-text:focus {
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* CZYM SIĘ ZAJMUJEMY */

.modal-vector-button svg {
  position: absolute;
  top: 2px;
  right: 2px;
}

.our-job__inner {
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  width: 370px;
  height: 70px;
  margin-top: 224px;
  background: rgba(47, 48, 58, 0.8);
}
.our-job__text {
  margin-left: 90px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.nav-list__agency {
  color: var(--fifth-color);
  margin-right: 46px;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: var(--fifth-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__agency--activ {
  color: var(--fifth-color);
  margin-right: 46px;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: var(--fifth-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__agency--activ::after {
  position: absolute;
  content: "";
  height: 4px;
  background-color: #2196f3;
  width: 100%;
  border-radius: 2px;
  bottom: -36px;
  left: 0px;
}

.nav-list__portfolio {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 140;
  letter-spacing: 0, 82em;
  text-decoration: none;
  color: var(--fifth-color);
  transition-property: color;
}
.nav-list__portfolio--activ {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 140;
  letter-spacing: 0, 82em;
  text-decoration: none;
  color: var(--fifth-color);
  transition-property: color;
  margin-right: 46px;
}
.nav-list__portfolio--activ::after {
  position: absolute;
  content: "";
  height: 4px;
  background-color: #2196f3;
  width: 100%;
  border-radius: 2px;
  bottom: -36px;
  left: 0px;
}
.images-list__popup {
  position: relative;
  overflow: hidden;
}
.images-list__activ {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background: rgba(33, 150, 243, 0.9);
}
li:hover p {
  transform: translateY(0%);
  transition: 0.3s ease-out;
}

.images-list__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  letter-spacing: 0.03em;
  padding: 49px 45px 49px 24px;
}

.project-link {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  text-decoration-line: none;
}

.project-link:hover,
.project-link:focus {
  color: var(--main-color);
}
.project-border {
  padding: 20px 24px;
}
.check-class {
  opacity: 0;
  position: absolute;
  width: 16px;
  height: 15px;
}
/* NEWSLETER */

.singup {
  margin-left: 70px;
  display: inline-block;
}
.modal-form {
  margin-left: auto;
}
.singup-text {
  display: block;
  color: var(--fourth-color);

  margin-bottom: 20px;
}
.singup-input {
  width: 358px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px;
  height: 50px;
  font-family: inherit;
  color: var(--fourth-color);
}
.singup-button {
  position: relative;
  background-color: var(--main-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  max-width: 200px;
  max-height: 50px;
  color: #ffffff;
  padding: 10px 76px 10px 28px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  border: none;
  margin-left: 12px;
}
.singup-button:hover,
.singup-button:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.singup-svg {
  position: absolute;
  transform: translateY(-50%);
  right: 20px;
  top: 50%;
  bottom: 13px;
  fill: var(--fourth-color);
}
.news-icon {
  fill: var(--fourth-color);
}
