.header {
  padding: 24 0;
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    margin-bottom: 32px;
  }
  &__nav {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.17;
    display: flex;
    align-items: baseline;
  }
  &__studioname {
    color: var(--fifth-color);
    margin: 0 auto;
    color: var(--main-color);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
  &__studioname--black {
    color: var(--nineth-color);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.header__studioname--black:hover {
  color: var(--main-color);
}
