.team-headline {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.team_title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  gap: 30px;
  &__item {
    background-color: var(--fourth-color);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
      0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__pic {
    border-radius: 0px 0px 4px 4px;
  }
  &__text--name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-top: 30px;
  }

  &__text--position {
    font-size: 16px;
    line-height: 1.18;
    color: var(--third-color);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  &__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #afb1b8;
  }

  &__link:hover {
    background-color: var(--main-color);
    color: #fff;
    transition: 250ms;
  }
}
.team-list__icon:hover svg,
.team-list__icon:focus svg {
  fill: var(--fourth-color);
}

.team-list__icon {
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__picture {
  border-radius: 0px 0px 4px 4px;
}
.team__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
